<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Ice captures the menu bar to display the exact appearance of its status items in Layout.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/snowman0919/Ice/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>st1bIOLFh4Y9T5Wq6++VmTatcWr2iMD3VUigc7cdlLA=</string>
</dict>
</plist>
